<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.js"></script>
</head>
<body>
{% include 'probe_requests_since.twig' %}
{% include 'last_cdn_hits.twig' %}

<table>
    <thead></thead>
    <tbody>
    <tr>
        <td></td>
        <td>{% include 'probe_requests_by_phone_brand.twig' %}</td>
    </tr>
    <tr>
        <td>{% include 'nb_pr.twig' %}</td>
    </tr>
    </tbody>

</table>
</body>
</html>